html, body {
    height: 100%;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#scene {
  display: none;    
}
#nologin {
  z-index: 1000;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 1;
  transition: opacity 1s; 
}
#nologin.fadeout {
  opacity: 0;
}
.centeredtext {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}
